/*
 * Objetos principais
 */

/* .botao { */
/*   background-color: #126; */
/*   font-size: 18px; */
/*   width: 200px; */
/* } */

/* .tabelaPreta{ */
/*     background-color:black; */
/* } */

/* label { */
/*   font-size: normal; */
/* } */

thead {
	text-align: center;
	font-weight: bold;
}

th {
	text-align: center;
	font-weight: bold;
}

td {
	text-align: center;
}

input {
    font-weight: normal;
}

.borda {
	border: 1px solid #000000;
}

.titulo {
	font-weight: bold;
}

.center {
	text-align: center;
}

/* remove spinner do <input type="number"> */
/*input[type=number]::-webkit-inner-spin-button,*/
/*input[type=number]::-webkit-outer-spin-button {*/
    /*-webkit-appearance: none;*/
    /*-moz-appearance: none;*/
    /*appearance: none;*/
    /*margin: 0;*/
/*}*/
/*input[type=number] {*/
    /*-moz-appearance:textfield;*/
/*}*/
