/* ******************************************************************************************************
				Objetos principais

******************************************************************************************************** */
.center{
	text-align: center;
}


label {
	font-size: large;
}

.textoTitulo {
	font-weight: bold;
}

.TituloPagina{
    font-weight: bold;
}

.botao {
	background-color: #126;
	font-size: 18px;
	width: 200px;
}

.tabelaPreta{
    background-color:black;
}

.borda{
    border: 1px solid #000000;
}

